{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans "Global Settings" %}{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <h5 class="mb-0">{% trans "System Defaults" %}</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'scheduler:settings' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">{% trans "Save Settings" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
